.footer {
  position: absolute;
  top: 100%;
  margin-top: 3em;
  width: 100%;
  color: $white;
  background-color: $black;
  border-radius: 3.5em 3.5em 0 0;
  text-align: center;

  p {
    padding: 1.2em 1em;
  }
}
